#slide1 {
	background-color: purple;
	padding: 30px;
min-height: 700px;
}
#slide2 {
	background-color: #000;
	padding: 30px;
min-height: 700px;
}

#slide3 {
	min-height: 700px;
	background-color: #888888;
}

h2 {
	color: #fff;
}

p {
	color: #ccc;
}

#slide1 h1 {
	text-align: center;
}