/* Global */

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #8a8683;
	background-color:#ffffff;
}


img {
	max-width: 100%;
}
a:link {
	color: #2D95C9;
	text-decoration: none;
}
a:hover {
	color: #2D95C9;
	text-decoration: none;
	opacity: 0.8;
}
a:visited {
	color: #2D95C9;
	text-decoration: none;
}


h1 {
   font-family: "omnes-pro";
font-style: bold;
font-weight: 300;
font-size: 3.8em;
text-align: center;


  }


h1 {
    margin: 0.5em 0;
}

/* Navigation */

.menu {
	position:fixed;
	top:0px;
	width:100%; 
	height:auto; 
	background-color:#ffffff;
	z-index:100;
	-webkit-box-shadow: 0px 3px 4px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 3px 4px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 3px 4px rgba(50, 50, 50, 0.2);
}
#logo {
	text-align: center;
	margin: 10px 0;
}
#nav {
	text-align: right;
	margin: 32px 0 0 0;
}
.navigation{
	float: right;
	list-style: none;
	margin: 0;
}
.navigation li{
	float: left;
	padding:0 0 0 20px;
}
.navigation li:hover{
	cursor:pointer;
	color: #2D95C9;
}

.navigation .active{
	cursor:pointer;
	color: #2D95C9;
	font-weight:bold;
}


.consulting {
	   line-height: 0.3em;
	   margin: 0;
}

/* General Slides */ 

.slide{
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	
}



/* Slide 1 */ 

#slide1{
	background-color:#F2F2F2;
	background-image:url('../images/uno.png');
	background-position: center;
	padding: 100px 0 100px;
}




/* Slide 2 */ 

#slide2{
	background-image:url('../images/identificacion.jpg');
	color:#ffffff;
	background-size: cover;
	padding:140px 0;
}
#slide2 h1 {
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.96);
	margin: 0.5em 0;
}

#slide2 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}




#slide3 {
	color:#fff;
	height: 400px;
    padding: 64px 0;
    background-color: #0E83CD;
    background-image:url('../images/requerimientos.png');
	color:#ffffff;
	background-position: center no-repeat;
	padding:140px 0;
}

/* Slide 6 */ 

#slide7{
   background-image: url("../images/p3.jpg");
    background-position: center bottom;
    background-size: cover;
    color: #FFFFFF;
  /*  padding:140px 0;*/


}
#slide6 h1 {
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.96);
}

#slide6 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}



/* Slide 5 */ 

#slide5{
	 background-image:url('../images/bg7.png');
	color:#ffffff;
	background-position: center no-repeat;
	background-size: cover;
	padding:140px 0;

}

#slide5 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}






/* Slide Aitor */ 

#slide-a{

	 height: 300px;
    padding: 0;
      padding: 0 0 100px;
}

#slide-a h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}


.im {
	text-align: center;
	padding: 5px;
}

/* Slide 3 */ 



#slide3 h2 {
	font-size: 2em;
	color: #8a8683;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}
#test{
	background-color:#2D95C9;
	color:#ffffff;
	text-align:center;
	font-size: 2em;
	font-weight: 400;
}


#slide4 {
	/* background-image: url("../images/bd.png");*/
    background-position: center top;
    background-size: cover;
    padding:140px 0;
    background-color: #fff;
}

/* Slide 4 */

#slide6{
    background-image: url("../images/pa1.jpg");
    background-position: center top;
    background-size: cover;
    color: #FFFFFF;
    padding:140px 0;
}

#slide4 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

.slide p.design-texto {
font-size: 1.3em;
}

h1.design {
color: #2D95C9;

}


.aa {
	width: 2px;
	height: 40px;
	background-color: #fff;
	position: relative;
	text-align: center;
}

p.logos {
   	color: #ccc;
    font-size: 0.9em;
    text-align: center;
    padding-top: 10px;
}

.slide#slide6 {
	padding: 70px 0px;
}


.slide#slide4 {
	padding: 70px 0px;
}


#logos {
	background-color: #fff;
	 height: 190px;
}

#slide7.slide {
    padding-top: 50px;
    padding-bottom: 0;
}

.industria {
	padding-top: 20px;
}
.icon-wraper, .logos-wrapper {
text-align: center;
}

h1.hermes {
font-family: "myriad-pro",sans-serif;
font-style: normal;
font-weight: 600;
font-size: 5em;
  line-height: 1em;
  color: #2D95C9;
}

h2.vapour {

	font-size: 3.5em;
	line-height: 0px;
	padding-bottom:20px;
	text-align: center;
    font-family: "omnes-pro";
    font-style: normal;
    font-weight: 300;
    margin-top: 72px;
}

p.matters {
 font-size: 1.7em !important;
 margin: 0;
}

.vap-wrapper {
text-align: center;
margin-top: 25px;
margin-bottom: 14px;

}




/* Tablet */
@media screen and (max-width: 1024px) {

#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	text-align:center;
	margin:10px 0;
}

.navigation{
	width: 100%;
	float: center;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
	padding:0;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}




#decorative {
	display:none;
}

#content {
	text-align:center;
	width:100%;
}

#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}

}


/*Multiple background*/
.hidden {
    position: absolute;
    top: -9999999px;
}


#bck {
	text-align: center;
}

#animation { 
background-repeat: no-repeat;
text-align: center;
margin: 0 auto;
width: 470px;
}


.animate {
  height: 100px;
  width: 100px;
  background-color: #c00;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  position: absolute;
  top: 30%;
  left: 0;
}

.animate.move {
  left: 100%;
  margin-left: -100px; /*.animate width*/
}


.slide p {
	text-align: center;
	font-size: 1.3em;
	
}

.linea{
background: url(../images/down1.png);
  bottom: 0;
    float: right;
    height: 137px;
    margin-right: 68px;
    width: 36px;

}

.linea2{
background: url(../images/down1.png);
  bottom: 0;
    float: right;
    height: 137px;
    margin-right: 68px;
    width: 36px;
    top: 0;
}



.gro {
	width: 100%;
}

.consulting-imagen {
padding: 10px;
}


p.pre {
	font-size: 0.9em;
	font-style: italic;
	color: #ddd;
}


.line {
   background-color: #FFFFFF;
    height: 1px;
    margin: 71px auto 6px;
    width: 145px;
}

.i-video {
    left: 7px;
    position: relative;
    top: 10px;
    width: 30px;
}



.linea{
background: url(../images/down1.png);
  bottom: 0;
    float: right;
    height: 137px;
    margin-right: 68px;
    width: 36px;

}

.wrapper-separador{
	margin: 1% 19%;
    text-align: center;
} 



/*Images cross*/

#crossfade {
	width: 600px;
	height: 300px;
	position: relative;
  	margin: 0 auto 30px;
	padding-top: 30px;
}


#crossfade > img { 
    width: 600px;
    height: 300px;
    position: absolute;
    left: 0px;
    color: transparent;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 30s linear infinite 0s;
    -moz-animation: imageAnimation 30s linear infinite 0s;
    -o-animation: imageAnimation 30s linear infinite 0s;
    -ms-animation: imageAnimation 30s linear infinite 0s;
    animation: imageAnimation 30s linear infinite 0s; 
}

#crossfade > img:nth-child(2)  {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
#crossfade > img:nth-child(3) {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
#crossfade > img:nth-child(4) {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}


@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

.separador {

	border-top: 1px solid #dadada;
}

.design-img img {
	border: 1px solid #dadada;
	  background-color: #FFFFFF;

}


.nosotros {
	color: #DDD;
    font-size: 0.9em !important;
    font-style: italic;
}

/*.slide p.cita-abous {
	font-size: 1em !important;
	text-align: left !important;
}*/

.separador-about {
    border-top: 5px solid #2AA6C2;
    margin: 4% 44%;
}

.texto-cita {
	padding: 0 20%;
}



blockquote.david {
    font-size: 20px;
    font-style: italic;
    line-height: 1.3;
    margin: 20px auto;
    padding: 0.25em 200px;
    position: relative;
    color: #dadada;
    text-align: center;
  }

  blockquote.david:before {
     color: #CCCCCC;
    content: "\201C";
    display: block;
    font-family: georgia;
    font-size: 80px;
    left: 165px;
    position: absolute;
    top: -19px;
  }
  blockquote.david cite {
    color: #CCC;
    display: block;
    font-size: 14px;
    margin-top: 15px;
    text-align: right;
  }
  blockquote.david cite:before {
   content: "\2014 \2009";
  }

.ie-wrapper {

padding: 14px 10px;
}

.ie-container {
	 margin: auto;
    max-width: 1000px;
    width: 90%;
}

.slide p.ie-texto {
	font-size: 1.1em;
	font-weight: 300;
	font-family: "myriad-pro",sans-serif;
}

.ie-separador {
/*   border-top: 2px solid #6C6D6D;*/
    margin: 0 45%;
}

.lb-container img {
	max-width: none !important;
}


@media screen and (max-width: 830px) {
	.ei-title{
		position: absolute;
		right: 0px;
		margin-right: 0px;
		width: 100%;
		text-align: center;
		top: auto;
		bottom: 10px;
		background: #fff;
		background: rgba(255,255,255,0.9);
		padding: 5px 0;
	}
	.ei-title h2, .ei-title h3{
		text-align: center;
	}
	.ei-title h2{
		font-size: 20px;
		line-height: 24px;
	}
	.ei-title h3{
		font-size: 30px;
		line-height: 40px;
	}
}

#slide4 .pre {
	 font-size: 1.2em;
    padding: 0 10px;
    color: #2D95C9;

}

#slide9 {
background: url(../images/bg-m1.jpg);
background-size: cover;
color: #FFFFFF;
padding: 70px 0;
}

#slide8 {
padding: 120px 0;	
}

p.nosotros-cita {
text-align: left;
}

.about-img {
	text-align: center;
	    margin-top: 20px;
}

.about-img img {
    border: 12px solid #2AA6C2;
    border-radius: 100px;
    text-align: center;
    width: 150px;
}


.slide p.texto-about {
	font-size: 1.4em;
	 line-height: 1.5em;
	 text-align: left;
}

.cita {
font-style: italic;
font-size: 0.8em !important;
}


.iconos {
	text-align: center;
}

.iconos img {
	margin: 0px 10px
}


#footer {
	
	height: 30px;
}

.flex {
	background: url("../images/tri.png") no-repeat;
	background-position: top;
}


.texto-footer {
	font-size: 0.7em;
	text-align: center;
}

.grid_img{
	float: left;
	display: block;
	width: 15%;
} 

.img-container {
	height: 100px;
}

#industria-slide {
background-color: #43879E;
padding: 40px 0;
   background-image: url("../images/p3.jpg");
    background-position: bottom;
    background-size: cover;
    color: #FFFFFF;
   
}

#markets-slide {
	padding: 40px 0;
}

#markets-slide p {
	font-size: 1em;
}


#markets-slide h3{
	text-align: center;
}


.market-con {
	display: table;
    margin: 0 auto 15px;
    position: relative;
}


.icn {
	border: 4px solid #2AA6C2;
    border-radius: 50%;
    display: table-cell;
    font-size: 55px;
    height: 150px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 150px;
}

.markets-texto {
	font-size: 2em !important;
	margin-bottom: 2em;
}


.icon-overlay a .icn-more:before {
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    color: #FFFFFF;
    content: "Ôîç";
    display: inline-block;
    font-family: 'fontello';
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    height: 44px;
    left: 50%;
    line-height: 1;
    margin: -22px 0 0 -22px;
    padding-top: 13px;
    position: absolute;
    text-align: center;
    text-decoration: inherit;
    top: 0;
    transition: all 0.3s ease-in-out 0s;
    width: 44px;
    z-index: 2;
}


#product-slide {
	background-color: #F4F4F4;
	 padding: 0 0 60px;
}

#product-slide .slide{
	padding: 30px 0px;
}

#product-slide p {
	text-align: left;
	font-size: 1.2em;
	margin: 0.2em 0;
}

.tit-products {
	text-align: center;
	color: #2D95C9;
	margin-bottom: 1em;
	font-size: 2em;
	border-top: 1px solid #CCCCCC;
	padding-top: 25px;
}

.products {

}


/*body, html {height: 1000px; margin: 0;}*/

















/* Mobile */
@media screen and (max-width: 480px) {


h1.hermes { 
    font-size: 3em; 
}


#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	margin:5px 0;
}

.navigation{
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:50%;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}


#slide1 h1 {
	line-height: 1em;

}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}


}




